In [1]:
import pandas as pd

books = pd.DataFrame({
    'Title': ['Harry Potter', 'To Kill a Mockingbird', 'The Great Gatsby'],
    'Author': ['J.K. Rowling', 'Harper Lee', 'F. Scott Fitzgerald'],
    'Year': [1997, 1960, 1925]
})

In [2]:
books

                   Title               Author  Year
0           Harry Potter         J.K. Rowling  1997
1  To Kill a Mockingbird           Harper Lee  1960
2       The Great Gatsby  F. Scott Fitzgerald  1925